page-home {

}
.bor{
    border:1px solid #ccc;
    margin-bottom:5px;
}
.disconnect{
    border:1px solid #488aff;
}
.fab-ios-in-list,.fab-md-in-list{
    background-color:#488aff;
    color:#fff;
}
.output{
    font-size:16px;
    font-weight:bold;
    color:#2ec95c;
}
